<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let character of characters">
    <!-- <div class="card">
      <div class="image">
        <a [routerLink]="['/characters-details', character.id]">
          <img [src]="character.previewURL" [alt]="" class="card-img-top">
        </a>
      </div>
      <div class="card-inner">
        <div class="header">
          <a [routerLink]="['/characters-details', character.id]">
              <h2>character.id</h2>
          </a>
          <h4 class="text-muted">character.likes</h4>
          <small class="text-muted">character.views</small>
        </div>
      </div>
    </div> -->
    <div class="col">
      <div class="card m-2">
        <div class="img">
          <img  [src]="character.previewURL" class="card-img-top" [alt]="">
        </div>
        <div class="card-body">
          <h5 class="card-title">character.likes</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 mt5 container-notFound">
    <p>No results..............</p>
  </div>
  <button class="btn btn-dark">Go up</button>
</div>
